{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxAttributeNewLine": true,
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
